/* * {
    background-color: blanchedalmond;
}
#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#btnContainer {
    text-align: center;
}
.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;    
}
.buttons:hover {
    background-color: hsl(214, 100%, 56%);
} */
 /* body {
    font-family: Verdana;
    text-align: center;
 }
 #myButton {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
 }
 .myLabels {
    font-size: 3em
 } */
  /* body {
    font-family: verdana;
    font-size: 2em;
  }
  #mySubmit {
    font-size: 1em;
  } */
/* body {
    text-align: center;
    font-family: Arial;
    margin-top: 100px;
    transition: background 0.3s;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
}
p {
    font-size: 22px;
    font-weight: bold;
} */
