:root {
    --primary-color: #11121a;
    --secondary-color: #42434a;
    --hover-clr: #222533;
    --text-color: #e6e6ef;
    --accent-color: #5e63ff;
    --secondary-text-clr: #b0b3c1;
    --base-clr: #2c2e3a;
}
* {
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5rem;
}
body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--text-color);
    display: grid;
    grid-template-columns: auto 1fr;
}
#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--secondary-color);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    
}
#sidebar.close{
    padding: 5px;
    width: 60px;
}
#sidebar ul {
    list-style: none;
}
#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    color: var(--text-color);
    .logo {
        font-weight: 600;
    }
}
#sidebar ul li.active a {
    color: var(--accent-color);
}
.svg{
        fill: var(--accent-color);
    }

 #sidebar .svg{
        flex-shrink: 0;
        fill: var(--text-color);
}
#Sidebar a .nav-text, #sidebar .dropdown-btn .nav-text{
  flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
  background-color: var(--hover-clr);
}
#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;
    }

}
#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}
#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
  border-radius: 5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1em;
}

.rotate .svg:last-child{
    rotate: 180deg;
}
#sidebar .sub-menu a{
    padding-left: 2em;
}

#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    color: var(--text-color);

    .svg{
        transition: rotate 150ms ease;
    }
}
#toggle-btn:hover{
    background-color: var(--hover-clr);
}
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}


main {
    padding: min(30px, 7%);
}
main p{
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
}
.container {
    border: 1px solid var(--secondary-color);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);

    h2, p { margin-top: 1em}
}